<label for="name">Nama</label>
<!-- <input type="text" id="name" #personNameEl> -->
<input type="text" id="name" [(ngModel)]="enteredPersonName">
<!-- <button (click)="onCreatePerson(personNameEl.value)">Create</button> -->
<button (click)="onCreatePerson()">Create</button>
